/* Basic CSS for the navigation bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0a0909;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.logoTitle {
    text-decoration: none;
    color: #f5efef;
    font-weight: bold;
}

nav img {
  /* Style the image itself */
  width: 25px;      /* Set the desired width */
  height: auto;     /* Maintain aspect ratio */
  border-radius: 5px; /* Add rounded corners (optional) */
}

.nav-links a {
  text-decoration: none;
  color: #f5efef;
  font-weight: bold;
  padding: 20px 50px;
}

#searchInput {
  border: 1px solid;
  border-radius: 5px;
}

#searchInput::placeholder {
    color: #4CAF50;
}

/* Basic CSS for the form elements */
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
}

h1 {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 5px;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid  #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Basic CSS for the report section */
h2 {
    margin-top: 30px;
}


main {
  padding: 40px 0;
  background-image: url("assest/imgs/background.jpeg");
  background-position: center top;
  background-size: cover;
}

.hero {
  text-align: left;
  padding: 50px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 90px;
  color: #fff;
}

.hero p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 300px;
  color: #fff;
}

.hero .btn {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
}

.social {
  width: 50px;
  height: 200px;
}
   /* Styling the links */
 
.social a {
  display: block;	  
  color:  #f1f1f1;
  padding: 12px; 
  text-decoration: none; 
  font-size : 20px;
}

.social a:hover {
  color: #565656; 
}

.social img {
  /* Style the image itself */
  width: 25px;      /* Set the desired width */
  height: auto;     /* Maintain aspect ratio */
  border-radius: 5px; /* Add rounded corners (optional) */
}